html
    head
        title Table
    body 
        table(style = "border 2px solid black", cellpadding="5", callspacing="3", border="3", rules="all")
            tr 
                th Name 
                th Age 
            tr 
                td ABC 
                td 30
            tr 
                td XYZ 
                td 20
            tr 
                td PQR 
                td 10