html
    head
        title Document
    body 
        form(action="/data" method="post" enctype="multipart/form-data")
            input(type="file" name="mypic" accept=".jpg, .png, .jpeg, .jfif")
            input(type="submit")