html
    head
        title Document
    body 
        form(action="/data" method="post" enctype="multipart/form-data")
            input(type="file" name="mypdf" accept=".pdf, .docx" multiple)
            input(type="submit")